In [1]:
# for any given dataset convert row data into clean data

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer

In [28]:
# Country dataset
dataset=pd.read_csv('ML-DS1.csv')
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [29]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['Germany' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(
    transformers=[
        ('encoder',OneHotEncoder(),[0])
    ],
    remainder='passthrough'
)

In [30]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer

hepatitis dataset

In [7]:
dataset=pd.read_csv("hepatitis - hepatitis.csv")
X=dataset.iloc[:,:-1].values # all rows except last one
y=dataset.iloc[:,-1].values

In [9]:
X

array([[30, 'male', False, ..., 4.0, nan, False],
       [50, 'female', False, ..., 3.5, nan, False],
       [78, 'female', True, ..., 4.0, nan, False],
       ...,
       [61, 'female', False, ..., 4.1, nan, True],
       [53, 'male', False, ..., 4.1, 48.0, True],
       [43, 'female', True, ..., 3.1, 42.0, True]], dtype=object)

In [11]:
dataset.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]

In [12]:
dat=pd.DataFrame(dataset)

In [13]:
dat.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]

In [15]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean') # replace with mean and missing values are considered as Nan
imputer=imputer.fit(X[:,13:18]) # select all from 13 to 17
#Calculates the mean for each column in this slice of the data, storing it for later use.

X[:,13:18]=imputer.transform(X[:,13:18]) #it adds mean value to this

In [16]:
imputer =SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imputer=imputer.fit(X[:,:])
X[:,:]=imputer.transform(X[:,:])

In [17]:
X

array([[30, 'male', False, ..., 4.0, 61.85227272727273, False],
       [50, 'female', False, ..., 3.5, 61.85227272727273, False],
       [78, 'female', True, ..., 4.0, 61.85227272727273, False],
       ...,
       [61, 'female', False, ..., 4.1, 61.85227272727273, True],
       [53, 'male', False, ..., 4.1, 48.0, True],
       [43, 'female', True, ..., 3.1, 42.0, True]], dtype=object)

In [19]:
# label encoding
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
y=lbl.fit_transform(y)

In [21]:
# splitting the dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=20)
print(x_train)

[[33 'female' True ... 4.0 61.85227272727273 True]
 [30 'male' False ... 4.0 61.85227272727273 False]
 [28 'male' True ... 3.3 46.0 False]
 ...
 [38 'female' True ... 3.5 56.0 True]
 [38 'female' False ... 2.9 46.0 False]
 [60 'female' False ... 3.8172661870503606 61.85227272727273 True]]

In [22]:
dataset.head()

   age     sex steroid  antivirals  ... albumin protime histology class
0   30    male   False       False  ...     4.0     NaN     False  live
1   50  female   False       False  ...     3.5     NaN     False  live
2   78  female    True       False  ...     4.0     NaN     False  live
3   31  female     NaN        True  ...     4.0    80.0     False  live
4   34  female    True       False  ...     4.0     NaN     False  live

[5 rows x 20 columns]

In [23]:
# feature scaling
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train[:,3:]=scaler.fit_transform(x_train[:,3:])
x_test[:,3:]=scaler.transform(x_test[:,3:])